.comm_time{
	float:right;
}
#titleWrraper{
	clear:both;
	margin-top: 15px;
	margin-left: 10px;
}
#postTitle{
	height:30px;
	float:left;
	color:#413d3d;
}
#postTitle h3{
	margin-top: 5px;
}

.post_notes{
	clear:both;
	color: #bab5b5;
	font-size: 11px;
	margin-left:10px;
	
}
#desc_wrap{
	border:1px double #dedede;
	border-radius: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}

.desc_content{
	margin-top:20px;
	color:#706d6d;
	margin-left: 10px;
}

